$contentFont: 16px;
$contentTitleFont: 22px;
$contentTitleFontColor: #2a2a32;
$titleLineHeight: 50px;
$titleFont: 24px;
$titleFontColor: rgba(211, 210, 218, 0.9);
$blue:rgba(74, 162, 252, 0.992);
$backgroud:rgba(221,221,221,.4);
$loginImgHeight: 120px;
$qianWhite: #eee;
$loginInputWidth: 260px;








$themeFontColor: #ccc;
@mixin computerLength($len, $len2) {
    
}